:root {
  --clr-primary-100: #f9f871;
  --clr-primary-200: #76abae;
  --clr-primary-300: #882000;

  --clr-neutral-100: #eeeeee;
  --clr-neutral-200: #31363f;
  --clr-neutral-300: #222831;
  --clr-neutral-400: #2b2f35;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-100);
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  max-width: 1500px;
  margin-inline: auto;
  height: 100%;
  padding: 1rem;

  display: grid;
  gap: 2rem;
}

/* Inbox */

.note-inbox {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin-inline: auto;
}

.inbox-choice-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}
.choice-btn {
  width: 100%;
  height: 50px;
  background-color: var(--clr-neutral-400);

  font-size: 1rem;
  font-weight: bold;

  display: grid;
  place-content: center;
}
.choice-notes.active {
  background-color: var(--clr-primary-200);
}
.choice-todo.active {
  background-color: var(--clr-primary-300);
}

.inbox-box {
  display: grid;
  gap: 1rem;
  background-color: var(--clr-neutral-300);
  padding: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
}

.form-box h1 {
  line-height: 1;
  padding-bottom: 1rem;
}

.form-layout {
  display: grid;
  gap: 2rem;
  width: 100%;
  margin-inline: auto;
  width: 100%;
}
label {
  font-weight: bold;
}
.input-field-spacing {
  display: grid;
  gap: 1rem;
}

.form-field {
  padding: 0.5rem;
  color: inherit;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--clr-neutral-300);
  outline: 3px solid var(--clr-neutral-100);
}
.form-text:not(:placeholder-shown):valid {
  outline-color: var(--clr-primary-200);
}
.todo-text.form-text:not(:placeholder-shown):valid {
  outline-color: var(--clr-primary-300);
}
.form-text:focus {
  outline-color: var(--clr-primary-100);
}

.tag-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#tags-container {
  appearance: none;
}

form textarea {
  min-height: 50px;
  resize: none;
}

.form-btn {
  padding: 0.5rem;

  border-radius: 0.5rem;
  color: var(--clr-neutral-100);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.note-btn {
  border: 3px solid var(--clr-primary-200);
  background-color: var(--clr-primary-200);
}
.todo-btn {
  background-color: var(--clr-primary-300);
  border: 3px solid var(--clr-primary-300);
}
.note-btn:hover {
  background-color: var(--clr-neutral-300);
  color: var(--clr-primary-200);
}
.todo-btn:hover {
  background-color: var(--clr-neutral-300);
  color: var(--clr-primary-300);
}

/* Storage */

.note-storage {
  width: 100%;
  height: auto;
  max-width: 1500px;
  align-self: center;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
  overflow-x: hidden;
}

.note-container {
  width: 100%;
  margin-inline: auto;
  height: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-neutral-300);
  overflow: hidden;
}
.note-container h1 {
  line-height: 1;
  text-transform: capitalize;
}

.note-list {
  display: none;

  list-style: none;
  padding: 1rem 0 0 0;
}
.note-list li {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--clr-neutral-200);
}
